<h3> Vos scores et badges </h3>


<table class="table table-bordered table-stripped" style="margin-top: 30px;">
  <tr>
    <td>
      <div class="row">
        <div class="col-md-8">Culture : {{+authService.currentUser.Score1}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score1 >= seuils?.Bronze && +authService.currentUser.Score1 < seuils?.Silver"> <img src="/assets/bronze1.png" alt="bronze1"> </div>
          <div *ngIf="+authService.currentUser.Score1 >= seuils?.Silver && +authService.currentUser.Score1 < seuils?.Gold">  <img src="/assets/silver1.png" alt="silver1"> </div>
          <div *ngIf="+authService.currentUser.Score1 >= seuils?.Gold"> <img src="/assets/gold1.png" alt=""></div>
        </div>
      </div>
    </td>

    <td>
      <div class="row">
        <div class="col-md-8">Business et économie : {{+authService.currentUser.Score2}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score2 >= seuils?.Bronze && +authService.currentUser.Score2 < seuils?.Silver"> <img src="/assets/bronze2.png" alt="bronze2"> </div>
          <div *ngIf="+authService.currentUser.Score2 >= seuils?.Silver && +authService.currentUser.Score2 < seuils?.Gold">  <img src="/assets/silver2.png" alt="silver2"> </div>
          <div *ngIf="+authService.currentUser.Score2 >= seuils?.Gold"> <img src="/assets/gold2.png" alt=""></div>
        </div>
      </div>
    </td>

  </tr>
  <tr>
    <td>
      <div class="row">
        <div class="col-md-8">Technologie : {{+authService.currentUser.Score3}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score3 >= seuils?.Bronze && +authService.currentUser.Score3 < seuils?.Silver"> <img src="/assets/bronze3.png" alt="bronze3"> </div>
          <div *ngIf="+authService.currentUser.Score3 >= seuils?.Silver && +authService.currentUser.Score3 < seuils?.Gold">  <img src="/assets/silver3.png" alt="silver3"> </div>
          <div *ngIf="+authService.currentUser.Score3 >= seuils?.Gold"> <img src="/assets/gold3.png" alt=""></div>
        </div>
      </div>
    </td>

    <td>
      <div class="row">
        <div class="col-md-8">Santé : {{+authService.currentUser.Score4}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score4 >= seuils?.Bronze && +authService.currentUser.Score4 < seuils?.Silver"> <img src="/assets/bronze4.png" alt="bronze4"> </div>
          <div *ngIf="+authService.currentUser.Score4 >= seuils?.Silver && +authService.currentUser.Score4 < seuils?.Gold">  <img src="/assets/silver4.png" alt="silver4"> </div>
          <div *ngIf="+authService.currentUser.Score4 >= seuils?.Gold"> <img src="/assets/gold4.png" alt=""></div>
        </div>
      </div>
    </td>

  </tr>
  <tr>
    <td>
      <div class="row">
        <div class="col-md-8">Politique: {{+authService.currentUser.Score5}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score5 >= seuils?.Bronze && +authService.currentUser.Score5 < seuils?.Silver"> <img src="/assets/bronze5.png" alt="bronze5"> </div>
          <div *ngIf="+authService.currentUser.Score5 >= seuils?.Silver && +authService.currentUser.Score5 < seuils?.Gold">  <img src="/assets/silver5.png" alt="silver5"> </div>
          <div *ngIf="+authService.currentUser.Score5 >= seuils?.Gold"> <img src="/assets/gold5.png" alt=""></div>
        </div>
      </div>
    </td>

    <td>
      <div class="row">
        <div class="col-md-8">Nature : {{+authService.currentUser.Score6}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score6 >= seuils?.Bronze && +authService.currentUser.Score6 < seuils?.Silver"> <img src="/assets/bronze6.png" alt="bronze6"> </div>
          <div *ngIf="+authService.currentUser.Score6 >= seuils?.Silver && +authService.currentUser.Score6 < seuils?.Gold">  <img src="/assets/silver6.png" alt="silver6"> </div>
          <div *ngIf="+authService.currentUser.Score6 >= seuils?.Gold"> <img src="/assets/gold6.png" alt=""></div>
        </div>
      </div>
    </td>

  </tr>
  <tr>
    <td>
      <div class="row">
        <div class="col-md-8">Science : {{+authService.currentUser.Score7}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score7 >= seuils?.Bronze && +authService.currentUser.Score7 < seuils?.Silver"> <img src="/assets/bronze7.png" alt="bronze7"> </div>
          <div *ngIf="+authService.currentUser.Score7 >= seuils?.Silver && +authService.currentUser.Score7 < seuils?.Gold">  <img src="/assets/silver7.png" alt="silver7"> </div>
          <div *ngIf="+authService.currentUser.Score7 >= seuils?.Gold"> <img src="/assets/gold7.png" alt=""></div>
        </div>
      </div>
    </td>

    <td>
      <div class="row">
        <div class="col-md-8">Société et faits divers : {{+authService.currentUser.Score8}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score8 >= seuils?.Bronze && +authService.currentUser.Score8 < seuils?.Silver"> <img src="/assets/bronze8.png" alt="bronze8"> </div>
          <div *ngIf="+authService.currentUser.Score8 >= seuils?.Silver && +authService.currentUser.Score8 < seuils?.Gold">  <img src="/assets/silver8.png" alt="silver8"> </div>
          <div *ngIf="+authService.currentUser.Score8 >= seuils?.Gold"> <img src="/assets/gold8.png" alt=""></div>
        </div>
      </div>
    </td>

  </tr>
  <tr>
    <td>
      <div class="row">
        <div class="col-md-8">Sports : {{+authService.currentUser.Score9}} </div>
        <div class="col-md-4">
          <div *ngIf="+authService.currentUser.Score9 >= seuils?.Bronze && +authService.currentUser.Score9 < seuils?.Silver"> <img src="/assets/bronze9.png" alt="bronze9"> </div>
          <div *ngIf="+authService.currentUser.Score9 >= seuils?.Silver && +authService.currentUser.Score9 < seuils?.Gold">  <img src="/assets/silver9.png" alt="silver9"> </div>
          <div *ngIf="+authService.currentUser.Score9 >= seuils?.Gold"> <img src="/assets/gold9.png" alt=""></div>
        </div>
      </div>
    </td>
  </tr>
</table>