<h2>Seuil des badges</h2>

<table class="table table-bordered table-stripped table-dark">
  <tr>
    <th>Bronze</th>
    <th>Silver</th>
    <th>Gold</th>
  </tr>

  <tr>
    <td>Seuil actuel : X</td>
    <td>Seuil actuel : Y</td>
    <td>Seuil actuel : Z</td>
  </tr>

  <tr>
    <td>
        <form>
          <div class="form-group">
            <label for="seuilbronze"> Nouveau Seuil :</label>
            <input type="text" id="seuilbronze" name="seuilbronze" class="form-control">
          </div>
        </form>
        <button class="btn btn-primary btn-sm"> Changer </button>
      </td>
      <td>
        <form>
          <div class="form-group">
            <label for="seuilsilver"> Nouveau Seuil :</label>
            <input type="text" id="seuilsilver" name="seuilsilver" class="form-control">
          </div>
          <button class="btn btn-primary btn-sm"> Changer </button>
        </form>
      </td>
      <td>
        <form>
          <div class="form-group">
            <label for="seuilgold"> Nouveau Seuil :</label>
            <input type="text" id="seuilgold" name="seuilgold" class="form-control">

          </div>
          <button class="btn btn-primary btn-sm"> Changer </button>
        </form>
    </td>
  </tr>
</table>