.container-fluid{
    margin-top: 5vh;
}

.action{
    width: 80%;
    height: 100px;
}

#wrapper{
    height: 90vh;
    overflow-y: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.995px) {
    .txt{
        font-size: 12px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.995px){
    .txt{
        font-size: 8px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.995px){
    .txt{
        font-size: 14px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .txt{
        font-size: 16px;
    }
}